td {
background-color: grey;
width: 100px;
height: 100px;
text-align: center;
font-size: 100px;

}
table{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
td:hover{
    background-color: lightgray;
    cursor:pointer
    
}